.dynamic__delete__button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic__delete__button:hover {
    color: #777;
  }
  .dynamic__delete__button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }