.wrapper {
    margin: 0;
    background-color: #f5ffe3;
    padding-bottom: 2rem;
    text-align: center;
  }
  
  .main-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #252526;
    padding: 1rem;
  }